.jelly {
  &-btn {
    height: 36px;
    padding: 0 20px;
    font-size: 13px;
    border-radius: 4px;
    font-weight: 400;
    text-align: center;
    &--default {
      background-color: #fff;
      color: #333;
      border: solid 1px #c2c2c2;
      &:hover {
        border-color: #5e2bb8;
      }
    }
    &--gray {
      color: #fff !important;
      border: solid 1px #5b606e;
      background-color: #5b606e;
    }
    &--pink {
      color: #fff !important;
      border: solid 1px #5e2bb8;
      background-color: #5e2bb8;
    }
    &--blue {
      border: 1px solid #5e99cb;
      color: #fff !important;
      background: #5e99cb;
    }
    &--link {
      color: #5e2bb8;
      text-decoration: underline;
      padding: 0;
      margin: 0;
    }
    &.lg {
      width: 221px;
      height: 56px;
      font-size: 17px;
    }
    &.md {
      min-width: 100px;
      height: 56px;
      font-size: 17px;
    }
    &:disabled {
      opacity: 0.5;
    }
  }
  &-text {
    height: 36px;
    border: 1px solid #c2c2c2;
    padding: 5px 10px;
    border-radius: 4px;
  }
  &-color {
    &--type1 {
      color: $type1;
    }
    &--type2 {
      color: $type2;
    }
    &--type3 {
      color: $type3;
    }
    &--type4 {
      color: $type4;
    }
    &--gray {
      color: $gray;
    }
  }
  &-badge {
    padding: 8px 14px;
    border-radius: 50px;
    border: solid 1px #acb5be;
    display: inline-block;
    color: #111;
    &.is_active {
      border-color: $color;
      background: $color;
      color: #fff;
    }
  }
  &-tab {
    > ul {
      background-color: #f2f3f5;
      padding: 5px;
      li {
        width: 100%;
        font-size: 14px;
        text-align: center;
        height: 32px;
        line-height: 30px;
        position: relative;
        &.is_active {
          background: $color;
          border-radius: 4px;
          color: #fff;
          a {
            color: #fff;
          }
        }
        a {
          position: absolute;
          width: 100%;
          line-height: 30px;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
    }
  }
}
.dotted {
  border: 2px solid $gray;
  border-style: dashed;
}
